<div style="min-height:100vh; margin-bottom: 150px; padding-left: 50px;">
  <h1>Formules</h1>
  <app-create-form [listToAdd]="allFormulas" [nameField]="true" [descriptionField]="true" [numberField]="true"
    [placeholderName]="'Nom'" (serviceCall)="createFormula($event)"></app-create-form>
  <div *ngIf="!loading">

  </div>

  <div *ngFor="let formula of formatedFormulas" class="list-container">
    <div class="formula-row">
      <div class="firstLine">
        <div class="left">
          <h3>{{formula.formulaName}} &nbsp; {{formula.realPrice}}</h3>
          <p>
            {{formula.description}}
          </p>
        </div>
      </div>
      
      <div class="container-btn">
        <button mat-mini-fab class="edit-btn" (click)="editInit(formula)">
          <i class="material-icons">
            create
          </i>
        </button>
        <button mat-mini-fab class="delete-btn" (click)="delete(formula)">
          <i class="material-icons">
            delete
          </i>
        </button>
      </div>
    </div>
  </div>
</div>
