



.creation {
  font-size: 2em;
  font-weight: bold;
  color: #da2018;
}
.main-container {

  padding-left: 20px;
}
.mat-form-field {
  font-size: 2em;
}
.app-auto-complete {
  font-size: 2em;
}
.title {
  width: 800px;
}
.description {
  width: 800px;
}
.desc {
  height: 100px;
}
.allergens-btn {
  margin:20px
}
.check-container {
  font-size: 2em;
  padding-left: 25px;
  margin-bottom: 30px;
  margin-top: 20px;
  height: 60px;
}
.mat-checkbox-inner-container {
  height: 35px ;
  width: 35px;
}
.save {
  background-color: #da2018;
  color: white;
  margin-bottom: 20px;
}



$serif: 'Merriweather', sans-serif ;

.row {
  margin: 0;
}
.formules-container {
  padding: 50px;
  .formula {
    width: 100%;
    flex-direction: column;
    .formula-title {
      font-family: $serif;
      color: #9E0C17;
      font-style: italic;
    }
    .formula-body {
      justify-content: space-between;
      display: flex;
    }
  }
}



.header {
  background-image: url("http://api-appart.leo-gatille.com/uploads/test/mezza.jpg");
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  align-items: center;
  min-height: 700px;
}
  .text-container {
  background-color: rgba(255,255,255,0.4);

  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  .container-title {
    //width: 1000px;
    // display: flex;

    .title{
      font-family: $serif;
      text-align: left;
      font-size: 4em;
      font-style: italic;
      font-weight: bold;
      color: #9E0C17;
    }
  }
  .parent-text {
    // width: 100%;
    display: flex;
    //    justify-content: flex-start;
    .text{
      font-size: 2em;
      text-align: left;
    }
  }


}

.list-container{
  margin-top: 50px;

  .container-type {
    margin-bottom: 50px;

    .type-title {

      color: #9E0C17;
      font-family: $serif;
      font-weight: bolder;
    }
    .line {
      height: 1px;
      width: 60%;
      background: #da2018;
      margin-bottom: 20px;

    }
  }

}

@media screen and (max-width: 640px) {

  .text-container {
    background-color: rgba(255,255,255,0.4);

    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .container-title {
      //width: 1000px;
      // display: flex;

      .title{
        font-family: $serif;
        text-align: left;
        font-size: 4em;
        font-style: italic;
        font-weight: bold;
        color: #9E0C17;
      }
    }
    .parent-text {
      // width: 100%;
      display: flex;
      //    justify-content: flex-start;
      .text{
        font-size: 1em;
        text-align: left;
      }
    }
  }


  
}
.content-container {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 50px;
  margin-bottom: 50px;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 640px;
  
  .pattern {
    background-image: url("http://api-appart.leo-gatille.com/uploads/test/appart_contour_fleurs.svg");
    height: 2000px;
    width: 1000px;
    background-position: right top -15px;
    background-repeat: no-repeat;
    transform: rotate(180deg);  
    position: absolute;
    right: -250px;
    bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .content-container {
    display: block;
    padding-left: 10px;
    margin-bottom: 50px;
    .pattern{
      display: none;
    }
  }
}
@media screen and (max-width: 1500px) {
  .content-container {
    padding-bottom: 50px;
    .pattern{
      display: none;
    }
  }

}