<div class="main-container row-cols-7">
  <form *ngIf="!loading" [formGroup]="foodForm">
    <div class="row col-12">
      <mat-form-field class="title">
        <input matInput type="text" placeholder="Nom" autocomplete="Off" formControlName="nameControl"
          maxlength="255" />
      </mat-form-field>
    </div>

    <div class="row col-12">
      <mat-form-field class="description">
        <textarea class="text" matInput type="textarea" placeholder="Description" autocomplete="Off"
          formControlName="descriptionControl" maxlength="1000"></textarea>
      </mat-form-field>
    </div>

    <div class="row col-8">
      <div class="col-md-6 col-sm-12">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="typeControl">
            <mat-option *ngFor="let type of allTypes" [value]="type">
              {{type.typeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-sm-12" style="padding-top: 45px">
        <app-auto-complete (addElement)="getAllergenId($event)" [arrayPromise]="allergenPromise" [creation]="true"
          [myControl]="allergenControl" [nameField]="true" [title]="title" [service]="allergenService">
        </app-auto-complete>
      </div>
    </div>
    <div class="row" style=" display: flex; justify-content: center">
      <button *ngFor="let allergen of allergensNames;" mat-flat-button class="allergens-btn" color="primary"
        (click)="removeAllergen(allergen)">{{allergen}}</button>
    </div>

    <div class="row">
      <div class="check-container">
        <mat-checkbox (change)="toglle($event)" formControlName="displayControl">Ajouter à la carte</mat-checkbox>
      </div>
    </div>

    <div>
      <button mat-flat-button class="save" (click)="save()">envoyer</button>
    </div>

  </form>
</div>


<!--<form *ngIf="!loading"-->
<!--      [formGroup]="foodForm">-->
<!--  <div>-->
<!--    <mat-form-field>-->
<!--      <input matInput type="text"-->
<!--             placeholder="Nom"-->
<!--             autocomplete="Off"-->
<!--             formControlName="nameControl"-->
<!--             [value]="food.foodName"-->
<!--      />-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--  <div>-->
<!--    <mat-form-field>-->
<!--      <textarea matInput type="textarea"-->
<!--                placeholder="Description"-->
<!--                autocomplete="Off"-->
<!--                formControlName="descriptionControl"-->
<!--                [value]="food.foodDescription"-->
<!--      ></textarea>-->
<!--    </mat-form-field>-->
<!--  </div>-->
<!--  <div>-->
<!--    <app-auto-complete (addElement)="getAllergenId($event)"-->
<!--                       [arrayPromise]="allergenPromise"-->
<!--                       [parentModel]=""-->
<!--                       [displayFn]="displayFn"-->
<!--                       [myControl]="allergenControl"-->
<!--                       [callBackFilter]="callBackFilter"-->
<!--                       [creation]="true"-->
<!--                       [nameField]="true"-->
<!--                       [title]="title"-->
<!--                       [service]="allergenService"-->
<!--    ></app-auto-complete>-->
<!--  </div>-->
<!--  <div *ngFor="let allergen of selectedAllergens">-->
<!--    <button mat-flat-button (click)="removeAllergen(allergen.allergenName, allergen.id)" >{{allergen.allergenName}}</button>-->
<!--  </div>-->
<!--  <div>-->
<!--    <mat-form-field>-->
<!--      <mat-label>Type</mat-label>-->
<!--      <mat-select formControlName="typeControl">-->
<!--        <mat-option *ngFor="let type of allTypes" [value]="type">-->
<!--          {{type.typeName}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  </div>-->
<!--  <div>-->
<!--    <mat-slide-toggle (change)="toglle($event)" [checked]="food.display">Ajouter à la carte</mat-slide-toggle>  </div>-->
<!--  <div>-->
<!--    <button mat-flat-button (click)="save()">envoyer</button>-->
<!--  </div>-->
<!--</form>-->