<div>
  <h3>{{title}}</h3>
  <app-create-form *ngIf="!food && !wine && !suppr" [nameField]="nameField"
                   [nameValue]="nameValue"
                   [numberField]="numberField"
                   [numberValue]="numberValue"
                   [descriptionField]="descriptionField"
                   [dialog]="dialog"
                   (serviceCall)="close($event)">
  </app-create-form>
  <app-food-edit-page *ngIf="food" [food]="food" (close)="close()"></app-food-edit-page>
  <app-wine-edit *ngIf="wine" [wine]="wine" [selector]="selector"></app-wine-edit>
  <div *ngIf="suppr">
    <p>Êtes vous sur de vouloir supprimer <br> <b>*{{suppr}}*</b> ?</p>
    <div style="display: flex; justify-content: space-around">
      <button mat-flat-button style="background: #2ce071; color: white" (click)="validate()">Confirmer</button>
      <button mat-flat-button style="background: #e02f4a; color: white" (click)="close()">Annuler</button>
    </div>

  </div>

</div>
