.accordion {

}
.creation {
  font-size: 2em;
  font-weight: bold;
  color: #da2018;
}
.main-container {

  padding-left: 20px;
}
.mat-form-field {
  font-size: 2em;
}
.app-auto-complete {
  font-size: 2em;
}
.name {
  width: 500px;
}
.date-picker {
  width: 500px;
}
.description {
  width: 700px;
}

.save {
  background-color: #da2018;
  color: white;
  margin-bottom: 20px;
}
.list-container {
  padding-left: 35px;
}
.type {

}


.menu-select {
  width: 500px;

}

