$serif: 'Playfair Display', serif;
$futura: 'Didact Gothic', sans-serif;
.name {
  width: 500px;
}
.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  height: 30px;
  width: 30px;
  background: #ff285d;

  i {
    color: white;
  }
}
h1 {
  padding-left: 50px;
  color: #9E0C17;
}
.main-container {

  padding-left: 0px;
}
.creation {
  font-size: 2em;
  font-weight: bold;
  color: #9E0C17;
}
.filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

background-color: #9E0C17;
  button {
   // font-family: $serif;
    background-color: #9E0C17;
    color: #FFFFFF;
  }
}
.no-choice {

  .selector-container {

    padding-left: 15px;
    border: solid #9E0C17;
    border-width: 0 0 0 1px;
    .selector {
      padding-top: 10px;
      margin-top: 20px;
      margin-bottom: 15px;
      font-weight: 200;
      font-size: 1.5rem;
      color: #9E0C17;
      display: flex;
      .mat-expansion-panel-body {
        .wine-section {

        }
      }
    }
    .separation {
      width: 100%;
      margin-top: 20px;
      border: solid #9E0C17;
      border-width: 1px 0 ;
    }
  }
}


