<div style="min-height:calc(100vh - 158px) ">
  <div style="background: red" *ngIf="error">
  {{errorLog}}
</div>

<mat-accordion class="accordion" >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="creation">
        Création
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="main-content row">
      <form *ngIf="!loading" [formGroup]="wineForm" >

        <div class="name-price row">
          <div class="col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input type="text"
                     matInput
                     placeholder="Nom"
                     formControlName="nameControl"
              >
            </mat-form-field>
          </div>

          <div class="col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input type="number"
                     matInput
                     placeholder="Prix"
                     formControlName="priceControl"
              >
            </mat-form-field>
          </div>
        </div>

        <div class="color-category row">
          <div class="col-md-6 col-sm-12">
            <app-auto-complete (addElement)="setColor($event)"
                               [arrayPromise]="colorPromise"
                               [parentModel]="newColor"
                               [myControl]="colorControl"
                               [creation]="true"
                               [nameField]="true"
                               [title]="'Couleur'"
                               [service]="colorService"
            ></app-auto-complete>
          </div>
          <div class="col-md-6 col-sm-12">
            <app-auto-complete (addElement)="setCategory($event)"
                               [arrayPromise]="categoryPromise"
                               [parentModel]="newCategory"
                               [myControl]="categoryControl"
                               [creation]="true"
                               [nameField]="true"
                               [title]="'Catégorie'"
                               [service]="categoryService"
            >
            </app-auto-complete>
          </div>
        </div>
        <div class="designation-label row">
          <div class="col-md-6 col-sm-12">
            <app-auto-complete (addElement)="setDesignation($event)"
                               [arrayPromise]="designationPromise"
                               [parentModel]="newDesignation"
                               [myControl]="designationControl"
                               [creation]="true"
                               [nameField]="true"
                               [title]="'Appellation'"
                               [service]="designationService"
            >
            </app-auto-complete>
          </div>
          <div class="col-md-6 col-sm-12">
            <app-auto-complete (addElement)="setLabel($event)"
                               [arrayPromise]="labelPromise"
                               [parentModel]="newLabel"
                               [myControl]="labelControl"
                               [creation]="true"
                               [nameField]="true"
                               [title]="'Label'"
                               [service]="labelService"
            >
            </app-auto-complete>
          </div>
        </div>

        <div class="vintage-status row">
          <div class="col-md-6 col-sm-12">
            <app-auto-complete (addElement)="setVintage($event)"
                               [arrayPromise]="vintagePromise"
                               [parentModel]="newVintage"
                               [myControl]="vintageControl"
                               [creation]="true"
                               [numberField]="true"
                               [title]="'Millésime'"
                               [service]="vintageService"
            >
            </app-auto-complete>
          </div>

          <div class="col-md-6 col-sm-12">
            <mat-form-field>
              <mat-label>Statut</mat-label>
              <mat-select formControlName="statusControl"
              >
                <mat-option *ngFor="let status of allStatus" [value]="status">
                  {{status.statusName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-flat-button
                  (click)="validate()"
                  [disabled]="wineForm.invalid"
          >Envoyer</button>
        </div>
      </form>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<div class="filter-container">
  <div>
    <button mat-flat-button (click)="getSelector('category')">Catégorie</button>
    <button mat-flat-button (click)="getSelector('designation')">Appellation</button>
    <button mat-flat-button (click)="getSelector('color')">Couleur</button>
  </div>
  <div>
    <button mat-flat-button (click)="getSelector('label')">Label</button>
    <button mat-flat-button (click)="getSelector('vintage')">Millésime</button>
  </div>
</div>

<div class="no-choice">
  <mat-expansion-panel class="selector-container" *ngFor="let selected of selector" [expanded]="true">
    <mat-expansion-panel-header>
      <div class="selector">
        {{selected.categoryName || selected.colorName || selected.vintageYear || selected.labelName || selected.designationName}}
      </div>
    </mat-expansion-panel-header>

    <div class="wine-section" *ngFor="let wine of selected.wines">
      <div>
        <app-wine-row [wine]="wine"
                      (editData)="getSelector(option, true) "
                      [selector]="selected"
                      (delete)="delete($event)"
        ></app-wine-row>
      </div>
    </div>
    <div class="separation container-fluid"></div>
  </mat-expansion-panel>

</div>

</div>
