<div class="form-container">
  <form [formGroup]="loginForm">
    <h2 class="form-title">Se connecter</h2>
    <mat-form-field>
      <input id="user" matInput type="text" placeholder="username" autocomplete="Off" formControlName="username" />
    </mat-form-field>
    <mat-form-field>
      <input id="password" matInput type="password" placeholder="password" autocomplete="Off"
        formControlName="password" />
    </mat-form-field>
    <div>
      <button id="login" mat-flat-button [disabled]="loginForm.invalid" (click)="login()" color="primary">
        Envoyer
      </button>
    </div>
  </form>
</div>