.form-container {
  width: 300px;

  min-height: 200px;
  display: flex;
  justify-content: center;
}
.form-container form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
