<mat-form-field>
  <input
    type="text"
    placeholder="Pick one"
    matInput
    (keyup)="sendToParent()"
    (focus)="sendToParent()"
    [(ngModel)]="parentModel"
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let option of (filteredElements | async)" [value]="option">
    {{ option.colorName || option.categoryName ||option.designationName || option.labelName }}
  </mat-option>
</mat-autocomplete>
