//@import "../../../../styles.scss";
.create-btn {
    background-color: red;
    border-radius: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}