<div style="display: flex;">
<mat-form-field>
  <input
    type="text"
    placeholder={{title}}
    matInput
    (ngModelChange)="sendToParent()"
    [(ngModel)]="parentModel"
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
</mat-form-field>

  <button mat-mini-fab
          color="error"
          [disabled]="activateButton"
          (click)="launchModalCreation()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-autocomplete #auto="matAutocomplete"
                  [displayWith]="newDisplayFn"
>
  <mat-option *ngFor="let option of (filteredElements | async)" [value]="option">
    {{ newDisplayFn(option) }}
  </mat-option>
</mat-autocomplete>
