<tr *ngIf="!loading">
  <td>{{wine.label.labelName}}</td>
  <td>{{wine.color.colorName}}</td>
  <td>{{wine.category.categoryName}}</td>
  <td>{{wine.designation.designationName}}</td>
  <td>{{wine.wineName}}</td>
  <td>{{wine.vintage.vintageYear}}</td>
  <td>{{wine.winePrice}}</td>
  <td><button mat-icon-button (click)="sendDelete(wine.id)"><i class="material-icons">
    clear
  </i></button></td>
  <td><button mat-icon-button [routerLink]="['/admin/wine/edit/', wine.id]" color="success"><i class="material-icons">
    create
  </i></button></td>
  <td><button mat-icon-button (click)="showWineStatus()"><i class="material-icons">
    style
  </i></button></td>
</tr>

<tr *ngIf="showAllStatus">
  <td *ngFor="let status of allStatus">
    <button mat-flat-button (click)="editWineStatus(status.id)">{{status.statusName}}</button>
  </td>
</tr>

<tr *ngIf="!showAllStatus && showCurrentStatus ">
<td>{{wine.status.statusName}}</td>
</tr>
