$serif: 'Playfair Display', serif;

.main-container {
  display: flex;
  padding-left: 15px;
  .wine-container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    .wine-header {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .vintage{
        font-family: 'IBM Plex Serif', serif;
        //   font-style: italic;
        font-size: 1.5rem;
        margin-right: 20px;
      }
      .designation{
        white-space: nowrap;
        font-family: 'IBM Plex Serif', serif;
        //font-style: italic;
        font-size: 1.5rem;
        margin-right: 20px;
      }
      .label{
        white-space: nowrap;
        padding: 2px;
        border-radius: 3px;
       // border: solid #848484;
        border-width: 1px;
        color: #848484;
        font-size: 0.7rem;
        text-transform: capitalize;
        text-align: center;
        align-self: flex-start;
      }

    }

    .wine-body{
      display: flex;
      justify-content: space-between;
      padding: 0;
      .name{
        font-family: 'IBM Plex Serif', serif;
        font-size: 2.5rem;
        font-weight: 500;
        color: #9E0C17;
        font-style: italic;

      }
      .prix-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #9E0C17;
        .prix{
          height: max-content;
          font-family: $serif;
          font-size: 1rem;
          font-weight: 500;
        }
      }

    }

    .wine-footer{
      border: solid #9E0C17;
      border-width: 1px 0 0 0 ;
      padding: 0;
      .wine-bottom {
        display: flex;
        .color{
          height: 100%;
          width: max-content;
          padding: 0 6px 0 6px;
          background: #9E0C17;
          color: white;
          margin-right: 30px;
        }
        .current-status {
          color: #9E0C17;
          font-style: italic;
          font-size: 1rem;
        }
      }
      .all-status-container{
        display: flex;
        justify-content: space-around;
        .status-btn{
         border: solid #9E0C17;
          color: #9E0C17;
        }
      }

    }


  }
  .container-btn {
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 25px;

    .edit-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      height: 30px;
      width: 30px;
      background: #40beff;

      i {
        color: white;
      }

    }

    .delete-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      height: 30px;
      width: 30px;
      background: #ff285d;

      i {
        color: white;
      }
    }
    .status-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      height: 30px;
      width: 30px;
      background: #05e07f;

      i {
        color: white;
      }
    }
  }

}



