<p>vintage-list works!</p>
<table *ngFor="let vintage of vintages">
  <thead>
  <tr>
    {{vintage.vintageYear}}
  </tr>
  </thead>
  <tbody *ngIf="vintage.wines.length > 0">
  <tr *ngFor="let wine of vintage.wines">
    <td>{{wine.label.labelName}}</td>
    <td>{{wine.category.categoryName}}</td>
    <td>{{wine.color.colorName}}</td>
    <td>{{wine.designation.designationName}}</td>
    <td>{{wine.wineName}}</td>
    <td>{{vintage.vintageYear}}</td>
    <td>{{wine.winePrice}}</td>
  </tr>
  </tbody>
</table>

