<div style="min-height:calc(100vh - 158px) ">
    <h1>Catégories</h1>
  <h4 *ngIf="action === 'list'">Création</h4>
  <h4 *ngIf="action === 'edit'">Modification</h4>
  <app-create-form [listToAdd]="listToAdd"
                   [class]="class"
                   (serviceCall)="createCategory($event)"
                   [nameField]="true"
                   [placeholderName]="placeholderName"
  ></app-create-form>
  <div>
  </div>
  <div *ngFor="let category of listToAdd">
    <p>
      {{category.categoryName}}
      <i *ngIf="category.getWines().length >= 1" class="material-icons">
        link
      </i>
    </p> 
    <button (click)="edit(category)">modifier</button>
    <button (click)="delete(category)" >delete</button>
  </div>
</div>
