<div style="background: red" *ngIf="error">
  {{errorLog}}
</div>
<div class="main-content">
  <form *ngIf="!loading" [formGroup]="wineForm" style="background: #313131;">
    <div>
      <mat-form-field class="example-full-width">
        <input type="text"
               matInput
               placeholder="Nom"
               formControlName="nameControl"

        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <input type="number"
               matInput
               placeholder="Prix"
               formControlName="priceControl"
        >
      </mat-form-field>
    </div>
    <app-auto-complete (addElement)="setColor($event)"
                       [arrayPromise]="colorPromise"
                       [parentModel]="wine.color"
                       [displayFn]="displayFn"
                       [myControl]="colorControl"
                       [callBackFilter]="callBackFilter"
                       [creation]="true"
                       [nameField]="true"
                       [title]="'Couleur'"
                       [service]="colorService"
    ></app-auto-complete>
    <div>

    </div>
    <div>
      <app-auto-complete (addElement)="setCategory($event)"
                         [arrayPromise]="categoryPromise"
                         [parentModel]="wine.category"
                         [displayFn]="displayFnCategory"
                         [myControl]="categoryControl"
                         [callBackFilter]="callBackFilterCat"
                         [creation]="true"
                         [nameField]="true"
                         [title]="'Catégorie'"
                         [service]="categoryService"

      >
      </app-auto-complete>
    </div>
    <div>
      <app-auto-complete (addElement)="setDesignation($event)"
                         [arrayPromise]="designationPromise"
                         [parentModel]="wine.designation"
                         [displayFn]="displayFnDesignation"
                         [myControl]="designationControl"
                         [callBackFilter]="callBackFilterDesignation"
                         [creation]="true"
                         [nameField]="true"
                         [title]="'Appellation'"
                         [service]="designationService"
      >
      </app-auto-complete>
    </div>
    <div>
      <app-auto-complete (addElement)="setLabel($event)"
                         [arrayPromise]="labelPromise"
                         [parentModel]="wine.label"
                         [displayFn]="displayFnLabel"
                         [myControl]="labelControl"
                         [callBackFilter]="callBackFilterLabel"
                         [creation]="true"
                         [nameField]="true"
                         [title]="'Label'"
                         [service]="labelService"
      >
      </app-auto-complete>
    </div>
    <div>
      <app-auto-complete (addElement)="setVintage($event)"
                         [arrayPromise]="vintagePromise"
                         [parentModel]="wine.vintage"
                         [displayFn]="displayFnVintage"
                         [myControl]="vintageControl"
                         [callBackFilter]="callBackFilterVintage"
                         [creation]="true"
                         [numberField]="true"
                         [title]="'Millésime'"
                         [service]="vintageService"
      >
      </app-auto-complete>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Statut</mat-label>
        <mat-select formControlName="statusControl"
        >
          <mat-option *ngFor="let status of allStatus" [value]="status">
            {{status.statusName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-flat-button
              color="primary"
              (click)="validate()"
              [disabled]="wineForm.invalid"
      >Envoyer</button>
    </div>
  </form>
</div>
