<div style="min-height:calc(100vh - 158px) ">
  <h1>Administration</h1>

<div style="margin-bottom: 50px; margin-top: 50px">
  <h4>Message</h4>
  <app-message></app-message>
</div>

<div class="container-list col-lg-6 col-sm-12">
  <h3 class="router" routerLink="wine">Les vins</h3>
  <ul>
    <li class="router" routerLink="wine/category">Catégories</li>
    <li class="router" routerLink="wine/designation">Appelations</li>
    <li class="router" routerLink="wine/label">Labels</li>
    <li class="router" routerLink="wine/vintage">Millésimes</li>
    <li class="router" routerLink="wine/color">Couleurs</li>
  </ul>
</div>

<div class="col-lg-6 col-sm-12">
  <h3 class="router" routerLink="food">La carte</h3>
  <ul>
    <li class="router" routerLink="food/allergen">Allergènes</li>
    <li class="router" routerLink="food/formula">Formules</li>
  </ul>
</div>

<div class="col-lg-6 col-sm-12">
  <h3 class="router" routerLink="event">Soirées Spéciales</h3>
</div>

<div class="col-lg-6 col-sm-12">
  <h3 class="router" routerLink="gallery">Galerie</h3>
</div>
</div>
