<div style="min-height:calc(100vh) ">
  <h1 style="padding-left: 50px;">Administration</h1>
  <div class="message-container">
    <app-message></app-message>
  </div>
  <div class="admin-container" style="margin-bottom: 150px;">
    <div class="router-row row">
      <div class="router-container col-md-3 col-sm-12">
        <div class="router-link" routerLink="wine" (mouseenter)="mouseOver('vins') " (mouseleave)="mouseOver('vins')">
          <h2>Les vins</h2>
          <div id='edit-vins' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/category" (mouseenter)="mouseOver('categories') "
          (mouseleave)="mouseOver('categories')">
          <h4>Catégories</h4>
          <div id='edit-categories' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/designation" (mouseenter)="mouseOver('appellations') "
          (mouseleave)="mouseOver('appellations')">
          <h4>Appellations</h4>
          <div id='edit-appellations' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/vintage" routerLinkActive="router-link-active"
          (mouseenter)="mouseOver('millesime') " (mouseleave)="mouseOver('millesime')">
          <h4>Millésime</h4>
          <div id='edit-millesime' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/label" routerLinkActive="router-link-active"
          (mouseenter)="mouseOver('labels') " (mouseleave)="mouseOver('labels')">
          <h4>Labels</h4>
          <div id='edit-labels' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/color" routerLinkActive="router-link-active"
          (mouseenter)="mouseOver('couleurs') " (mouseleave)="mouseOver('couleurs')">
          <h4>Couleurs</h4>
          <div id='edit-couleurs' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
      </div>

      <div class="router-container col-md-3 col-sm-12">
        <div class="router-link" routerLink="food" (mouseenter)="mouseOver('carte') " (mouseleave)="mouseOver('carte')">
          <h2>La Carte</h2>
          <div id='edit-carte' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="food/allergen" (mouseenter)="mouseOver('allergens') "
          (mouseleave)="mouseOver('allergens')">
          <h4>Allergènes</h4>
          <div id='edit-allergens' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="food/formula" (mouseenter)="mouseOver('formula') "
          (mouseleave)="mouseOver('formula')">
          <h4>Formules</h4>
          <div id='edit-formula' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
      </div>

      <div class="router-container col-md-3 col-sm-12">
        <div class="router-link" routerLink="event" (mouseenter)="mouseOver('events') "
          (mouseleave)="mouseOver('events')">
          <h2>Soirées Spéciales</h2>
          <div id='edit-events' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
      </div>
      <div class="router-container col-md-3 col-sm-12">
        <div class="router-link" routerLink="gallery" (mouseenter)="mouseOver('gallery') "
          (mouseleave)="mouseOver('gallery')">
          <h2>Galerie</h2>
          <div id='edit-gallery' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
      </div>
    </div>


    <div class="router-row col-md-6 col-sm-12">

    </div>
    <div class="router-row col-md-6 col-sm-12"></div>
  </div>




  <!-- 
<div class="admin-container ">
  <div class="router-row col-md-6 col-sm-12">

    <div class="message-container">
      <h5>Message</h5>
      <app-message></app-message>
    </div>

    <div class="routers-container">
      <div class="router-link">
        <h5>Soirées Spéciales</h5>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>

      <div class="router-link">
        <h5>Galerie</h5>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>
    </div>
  </div>
  
  <div class="router-row col-md-6 col-sm-12">
    <div class="routers-container">

      <div class="router-link">
        <h5>Vins</h5>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>
      
      <div class="router-link">
        <h6>Catégories</h6>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>

      <div class="router-link">
        <h6>Appellations</h6>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>

      <div class="router-link">
        <h6>Millésimes</h6>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>

      <div class="router-link">
        <h6>Labels</h6>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>

      <div class="router-link">
        <h6>Couleurs</h6>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>

    </div>

    <div class="routers-container">
      <div class="router-link">
        <h5>Carte</h5>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>
      <div class="router-link">
        <h6>Allergènes</h6>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>
      <div class="router-link">
        <h6>Formules</h6>
        <div class="edit-box"> <i class="material-icons">build</i></div>
      </div>
    </div>

  </div>
</div> -->

  <!-- 
<div style="margin-bottom: 50px; margin-top: 50px">
  <h4>Message</h4>
  <app-message></app-message>
</div>



<div class="col-lg-6 col-sm-12">
  <h3 class="router" routerLink="food">La carte</h3>
  <ul>
    <li class="router" routerLink="food/allergen">Allergènes</li>
    <li class="router" routerLink="food/formula">Formules</li>
  </ul>
</div>

<div class="col-lg-6 col-sm-12">
  <h3 class="router" routerLink="event">Soirées Spéciales</h3>
</div>

<div class="col-lg-6 col-sm-12">
  <h3 class="router" routerLink="gallery">Galerie</h3>
</div> -->
</div>