<div style="min-height:calc(100vh); margin-bottom: 50px;">
  <h1 style="padding-left: 50px;">Administration</h1>
  <div class="admin-container" style="margin-bottom: 150px;">
    <div class="router-row row">
      <div class="router-container col-md-3 col-sm-12">
        <div class="router-link" routerLink="wine" (mouseenter)="mouseOver('vins') " (mouseleave)="mouseOver('vins')">
          <h2>Les vins</h2>
          <div id='edit-vins' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/category" (mouseenter)="mouseOver('categories') "
          (mouseleave)="mouseOver('categories')">
          <h4>Catégories</h4>
          <div id='edit-categories' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/designation" (mouseenter)="mouseOver('appellations') "
          (mouseleave)="mouseOver('appellations')">
          <h4>Appellations</h4>
          <div id='edit-appellations' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/vintage" routerLinkActive="router-link-active"
          (mouseenter)="mouseOver('millesime') " (mouseleave)="mouseOver('millesime')">
          <h4>Millésime</h4>
          <div id='edit-millesime' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/label" routerLinkActive="router-link-active"
          (mouseenter)="mouseOver('labels') " (mouseleave)="mouseOver('labels')">
          <h4>Labels</h4>
          <div id='edit-labels' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="wine/color" routerLinkActive="router-link-active"
          (mouseenter)="mouseOver('couleurs') " (mouseleave)="mouseOver('couleurs')">
          <h4>Couleurs</h4>
          <div id='edit-couleurs' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
      </div>

      <div class="router-container col-md-3 col-sm-12">
        <div class="router-link" routerLink="food" (mouseenter)="mouseOver('carte') " (mouseleave)="mouseOver('carte')">
          <h2>La Carte</h2>
          <div id='edit-carte' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="food/allergen" (mouseenter)="mouseOver('allergens') "
          (mouseleave)="mouseOver('allergens')">
          <h4>Allergènes</h4>
          <div id='edit-allergens' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
        <div class="router-link" routerLink="food/formula" (mouseenter)="mouseOver('formula') "
          (mouseleave)="mouseOver('formula')">
          <h4>Formules</h4>
          <div id='edit-formula' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
      </div>

      <div class="router-container col-md-3 col-sm-12">
        <div class="router-link" routerLink="event" (mouseenter)="mouseOver('events') "
          (mouseleave)="mouseOver('events')">
          <h2>Soirées Spéciales</h2>
          <div id='edit-events' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
      </div>
      <div class="router-container col-md-3 col-sm-12">
        <div class="router-link" routerLink="gallery" (mouseenter)="mouseOver('gallery') "
          (mouseleave)="mouseOver('gallery')">
          <h2>Galerie</h2>
          <div id='edit-gallery' class="edit-box-hide">
            <i class="material-icons">build</i>
          </div>
        </div>
      </div>
    </div>


    <div class="router-row col-md-6 col-sm-12">

    </div>
    <div class="router-row col-md-6 col-sm-12"></div>
  </div>

    <div class="message-container">
      <app-message></app-message>
    </div>
 
</div>