.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  height: 30px;
  width: 30px;
  background: #40beff;
  i {
    color: white;
  }

}
.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  height: 30px;
  width: 30px;
  background: #ff285d;
  i {
    color: white;
  }
}
.row {
  margin: 0
}
