<div *ngIf="!loading" style="min-height:calc(100vh - 158px) ">
  <app-event-create (allControllers)="callServices($event)" [action]="action" [eventId]="chooseId" [oldName]="oldName"
    [oldDate]="oldDate" [oldDescription]="oldDescription" [oldFoodControl]="oldFoodControl"
    [oldPriceNoDrinks]="oldPriceNoDrinks" [oldPriceWithDrinks]="oldPriceWithDrinks">
  </app-event-create>

  <div *ngFor="let newEvent of newEventsList" class="row" style="padding-bottom: 100px; padding-left: 50px;">
    <div class="btn-container">
      <button mat-mini-fab class="edit-btn"
              (click)="edit(newEvent)"
      >
        <i class="material-icons">create</i>
      </button>

      <button mat-mini-fab class="delete-btn"
              (click)="delete(newEvent)"
      >
        <i class="material-icons">
          delete
        </i>
      </button>

    </div>
    <div>
      <div class="row">
        <div>
          <h4 class="date">{{newEvent.eventDate.timestamp * 1000 | date: 'dd/MM/yyyy' }}</h4>
        </div>
      </div>
      <div class="row">
        <h3 class="title">{{newEvent.eventName}}</h3>
      </div>
      <div class="row">
        <div class="prix">Prix avec boissons : <b>{{newEvent.realPriceDrink}}&nbsp;&nbsp;</b></div>
        <div class="prix">Prix sans boissons : <b>{{newEvent.realPriceNoDrink}}</b></div>
      </div>
      <div class="row">
        <div>
          <p>{{newEvent.eventDescription}}</p>
        </div>
      </div>
      <div>
        <div *ngIf="newEvent.entrees.length >= 1" class="container-type col-sm-12">
          <h3 class="type-title">Entrée</h3>
          <div class="line"></div>
          <div *ngFor="let entree of newEvent.entrees" class="marg-me">
            <div>
              <div class="main-container">
                <div class="header row">
                  <h2>{{entree.foodName}}
                  </h2>
                </div>
                <div class="col-6"></div>
              </div>
              <div class="text-container">
                <p class="description">
                  {{entree.foodDescription}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="newEvent.plats.length >= 1" class="container-type  col-sm-12">
          <h3 class="type-title">Plats</h3>
          <div class="line"></div>
          <div *ngFor="let plat of newEvent.plats" class="marg-me">
            <div>
              <div class="main-container">
                <div class="header row">
                  <h2>{{plat.foodName}}
                  </h2>
                </div>
                <div class="col-6"></div>
              </div>
              <div class="text-container">
                <p class="description">
                  {{plat.foodDescription}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="newEvent.dessert.length >= 1" class="container-type  col-sm-12">
          <h3 class="type-title">Desserts</h3>
          <div class="line"></div>
          <div *ngFor="let dessert of newEvent.dessert" class="marg-me">
            <div>
              <div class="main-container">
                <div class="header row">
                  <h2>{{dessert.foodName}}
                  </h2>
                </div>
                <div class="col-6"></div>
              </div>
              <div class="text-container">
                <p class="description">
                  {{dessert.foodDescription}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
