
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! AU MOINS IL MARCHE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<div class="app-container">
  <mat-sidenav-container>
    <mat-toolbar>
      <button class="btn-toolbar" mat-button (click)="sidenav.toggle()">
        <mat-icon >view_headline</mat-icon>
        {{ title }}
      </button>
    </mat-toolbar>
    <mat-sidenav #sidenav mode="hover" class="sidenav">
<!--          <mat-toolbar class="toolbar" >-->
<!--            <span>Menu</span>-->
<!--            <span class="remaining-space"></span>-->
<!--            <button class="btn-toolbar" mat-button (click)="sidenav.close()">-->
<!--              <mat-icon>clear</mat-icon>-->
<!--            </button>-->
<!--          </mat-toolbar>-->
          <nav>
            <mat-nav-list>
              <a routerLink="/home" routerLinkActive="active"
                 mat-list-item  (click)="sidenav.close()" >
                <i class="fab fa-accessible-icon"></i>
                <span>Accueil</span>
              </a>
              <a routerLink="/reservations" routerLinkActive="active"
                 mat-list-item (click)="sidenav.close()" >
                <span><b>Réservations</b></span>
              </a>
              <span>
                <a routerLink="/carte" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span>La carte</span>
                </a>
                <a routerLink="/vins" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span>Les vins</span>
                </a>
                <a routerLink="/soirees" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span>Soirées Spéciales</span>
                </a>
                <a routerLink="/galerie" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span>Galerie</span>
                </a>
                 <a  routerLink="/auth" routerLinkActive="active" *ngIf="!isConnected()"
                     mat-list-item (click)="sidenav.close()" >
                  <span>Connexion</span>
                </a>
              </span>


              <span *ngIf="isConnected()">

                <a routerLink="/admin/" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span><b> Administration </b></span>
                </a>

                <a routerLink="/admin/food" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span>La carte <i>ADMIN</i> </span>
                </a>
                <a routerLink="/admin/wine" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span>Les vins <i>ADMIN</i></span>
                </a>
                <a routerLink="/admin/event" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span>Soirées Spéciales <i>ADMIN</i></span>
                </a>
                <a routerLink="/admin/gallery" routerLinkActive="active"
                   mat-list-item (click)="sidenav.close()" >
                  <span>Galerie <i>ADMIN</i></span>
                </a>

                <a mat-list-item (click)="sidenav.close(); logout()" >
                   <mat-icon>lock</mat-icon>
                    <span><b>Se Déconnecter</b></span>
                </a>
              </span>


            </mat-nav-list>
          </nav>


        </mat-sidenav>



    <div class="app-body" style="padding-top: 64px">
      <router-outlet ></router-outlet>
    </div>

  </mat-sidenav-container>
  <div>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

















<!--<div>-->
<!--  <div style="position: sticky; top: 0; z-index: 100">-->
<!--    <div style=" background: #2ce071; height: 70px; width: 100% ">toto</div>-->
<!--    <nav style="background: #9E0C17; height: calc(100vh - 70px) ; width: 200px; position: absolute; z-index: 10; top: 70px"> tata</nav>-->
<!--  </div>-->
<!--  <div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->


















<!--<mat-sidenav-container class="main-container">-->
<!--  <mat-sidenav #sidenav mode="over" class="sidenav">-->
<!--&lt;!&ndash;    <mat-toolbar class="toolbar" >&ndash;&gt;-->
<!--&lt;!&ndash;      <span>Menu</span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="remaining-space"></span>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="btn-toolbar" mat-button (click)="sidenav.close()">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon>clear</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-toolbar>&ndash;&gt;-->
<!--    <nav>-->
<!--      <mat-nav-list>-->
<!--        <a routerLink="/home" routerLinkActive="active"-->
<!--           mat-list-item  (click)="sidenav.close()" >-->
<!--          <mat-icon>home</mat-icon>-->
<!--          <span>Accueil</span>-->
<!--        </a>-->

<!--        <span *ngIf="isConnected()">-->
<!--          <a routerLink="/label" routerLinkActive="active"-->
<!--             mat-list-item (click)="sidenav.close()" >-->
<!--            <mat-icon>bookmarks</mat-icon>-->
<!--            <span>Label</span>-->
<!--          </a>-->
<!--          <a routerLink="/priority/list" routerLinkActive="active"-->
<!--             mat-list-item (click)="sidenav.close()" >-->
<!--            <mat-icon>warning</mat-icon>-->
<!--            <span>Priority</span>-->
<!--          </a>-->
<!--        </span>-->


<!--        <a routerLink="/auth" routerLinkActive="active" *ngIf="!isConnected()"-->
<!--           mat-list-item (click)="sidenav.close()" >-->
<!--          <mat-icon>account_circle</mat-icon>-->
<!--          <span>Se connecter</span>-->
<!--        </a>-->
<!--        <span *ngIf="isConnected()">-->
<!--                <a routerLink="/profile" routerLinkActive="active"-->
<!--                   mat-list-item (click)="sidenav.close()" >-->
<!--                    <mat-icon class="material-icons">account_box</mat-icon>-->
<!--                    <span>Mon profile</span>-->
<!--                </a>-->
<!--                <a mat-list-item (click)="sidenav.close(); logout()" >-->
<!--                    <mat-icon class="material-icons">close</mat-icon>-->
<!--                    <span>Se Déconnecter</span>-->
<!--                </a>-->
<!--        </span>-->


<!--      </mat-nav-list>-->
<!--    </nav>-->


<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->


<!--    <mat-toolbar class="toolbar" role="heading">-->
<!--      <button class="btn-toolbar" mat-button (click)="sidenav.toggle()">-->
<!--        <mat-icon >view_headline</mat-icon>-->
<!--        {{ title }}-->
<!--      </button>-->
<!--      <nav class="test">-->

<!--      </nav>-->
<!--    </mat-toolbar>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
