<div class="main">
  <div class="row" >
    <div class="map class col-md-4 col-sm-12">
      <iframe style="border: 0;
    vertical-align: middle;"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2828.563255162194!2d-0.6459920000000001!3d44.850826999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54d77dae7b0a6d%3A0x7676b1dd2f589bfe!2sL'Appart!5e0!3m2!1sfr!2sfr!4v1422186166854"
             >
      </iframe>
    </div>
    <div class="text col-md-6 col-sm-12">
      <h1>Reservations</h1>
      <p>Restaurant <b class="logo">L'appart'</b>
        <br> <b class="address"> 15 rue Maubec 33700 Mérignac</b>

        <br> <b class="phone"> Renseignements et réservations au 05.56.47.39.91 ou en ligne par le module Restovisio ci-dessous !</b>

        <br> <b class="open">  Ouvert midi et soir du mardi au vendredi et le samedi soir. </b>

        <br> <b class="hours"> Services de 12h à 14h et de 20h à 21h30.</b>

        <br> <b class="payement"> Modes de paiement : Espèces, CB, titres restaurants.</b>
      </p>
      <p>
        Pour vos repas d'affaire, de groupe, entre amis ou en amoureux, l'appArt' dispose de 2 grandes salles, d'une mezzanine intimiste, d'une généreuse cave à vin et d'un beau jardin/terrasse ombragé.

        Accessible aux personnes handicapées.

        <br><i>
        Nous changeons notre carte tous les mois et nous organisons régulièrement des soirées spéciales, si vous souhaitez tout savoir, inscrivez vous à notre lettre d'informations !
      </i>
      </p>
    </div>
    <div class="text-2 col-12">

    </div>
  </div>

  <div class="resrv">
    <iframe src="https://www.restovisio.com/bookings/register/lappart-915?s=ext&amp;v=1&amp;c=pink&amp;f=muli&amp;lang=fr"
            width="100%"
            height="1300px">
    </iframe>
  </div>
</div>


