<form *ngIf="!loading"
      [formGroup]="foodForm">
  <div>
    <mat-form-field>
      <input matInput type="text"
             placeholder="Nom"
             autocomplete="Off"
             formControlName="nameControl"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <textarea matInput type="textarea"
                placeholder="Description"
                autocomplete="Off"
                formControlName="descriptionControl"
      ></textarea>
    </mat-form-field>
  </div>
    <div>
      <app-auto-complete (addElement)="getAllergenId($event)"
                         [arrayPromise]="allergenPromise"
                         [parentModel]=""
                         [displayFn]="displayFn"
                         [myControl]="allergenControl"
                         [callBackFilter]="callBackFilter"
                         [creation]="true"
                         [nameField]="true"
                         [title]="title"
                         [service]="allergenService"
      ></app-auto-complete>
    </div>
    <div *ngFor="let allergen of allAllergens">
      <button mat-flat-button (click)="removeAllergen(allergen.allergenName, allergen.id)">{{allergen.allergenName}}</button>
    </div>
  <div>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="typeControl"
      >
        <mat-option *ngFor="let type of allTypes" [value]="type">
          {{type.typeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-flat-button (click)="save()">envoyer</button>
  </div>
  <div>
    <mat-slide-toggle (change)="toglle($event)">Ajouter à la carte</mat-slide-toggle>
  </div>
</form>

<div *ngIf="!loading">
  <div *ngFor="let type of allTypes">
    <h4>{{type.typeName}}</h4>
    <div *ngFor="let food of type.foods ">
      <app-food-row [food]="food"
                    (editData)="getFood()"
      ></app-food-row>
    </div>
  </div>
</div>

