
.creation {
  font-size: 2em;
  font-weight: bold;
  color: #da2018;
}
.main-container {

  padding-left: 20px;
}
.mat-form-field {
  font-size: 2em;
}
.app-auto-complete {
  font-size: 2em;
}
.title {
  width: 800px;
}
.description {
  width: 800px;
}
.text {
  height: 100px;
}
.allergens-btn {
  margin:20px
}
.check-container {
  font-size: 2em;
  padding-left: 25px;
  margin-bottom: 30px;
  margin-top: 20px;
  height: 60px;
}
.mat-checkbox-inner-container {
  height: 35px ;
  width: 35px;
}
.save {
  background-color: #da2018;
  color: white;
  margin-bottom: 20px;
}
.list-container {
 padding-left: 35px;
}

.list-container{
  margin-top: 50px;

  .container-type {
    margin-bottom: 50px;

    .type-title {
      color: #da2018;
      font-weight: bolder;
    }
    .line {
      height: 1px;
      width: 60%;
      background: #da2018;
      margin-bottom: 10px;

    }
  }

}

