<form *ngIf="!loading"
      [formGroup]="createForm"
      style="background: white;"
>
  <div>
    <mat-form-field *ngIf="nameField">
      <input matInput type="text"
             placeholder="'Nom'"
             autocomplete="Off"
             formControlName="nameControl"
             maxlength="255"
             [value]="nameValue"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field *ngIf="descriptionField">
      <textarea matInput type="textarea"
             placeholder="'Description'"
             autocomplete="Off"
             formControlName="descriptionControl"
      ></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field *ngIf="numberField">
      <input matInput
             type="number"
             placeholder="{{placeholderNumber}}"
             autocomplete="Off"
             formControlName="numberControl"
             maxlength="1000"
             [value]="numberValue"
      />
    </mat-form-field>
    </div>

  <div>
    <button mat-flat-button
            [disabled]="createForm.invalid"
            (click)="save()"
            color="primary"
    >
      Envoyer
    </button>
  </div>
</form>
