

<!--<app-message></app-message>-->
<div class="row home">
  <div class=" picture-container col-12">
<!--    <div class="reserv-news col-md-4 col-sm-6">-->
<!--      <button class="reservations col-6" mat-flat-button>-->
<!--        <a href="">Reservations</a>-->
<!--      </button>-->
<!--      <button class="news-letter col-6" mat-flat-button>-->
<!--        News letter-->
<!--      </button>-->
<!--    </div>-->
    <div class="container-btn row" style="justify-content: space-around">
      <div class="col-md-5 col-sm-12" >
        <button mat-flat-button class="btn-letter" >News letter</button>
      </div>
      <div class="col-md-5 col-sm-12">
        <button mat-flat-button class="btn-reservation" >Réservations</button>
      </div>
    </div>
  </div>
</div>
<div class="row carte-wine ">
  <div class="carte col-md-6 col-sm-12">
    <a href="">
      <div class="overlay"><h2>La carte</h2></div>
    </a>

  </div>
  <div class="vins col-md-6 col-sm-12">
    <a href="">
      <div class="overlay"><h2>Les vins</h2></div>
    </a>
  </div>
</div>
