

<!--<app-message></app-message>-->
<div class="row home">
  <div class=" picture-container col-12">

    <h1>l'appart</h1>
<!--    <div class="reserv-news col-md-4 col-sm-6">-->
<!--      <button class="reservations col-6" mat-flat-button>-->
<!--        <a href="">Reservations</a>-->
<!--      </button>-->
<!--      <button class="news-letter col-6" mat-flat-button>-->
<!--        News letter-->
<!--      </button>-->
<!--    </div>-->
    <div class="container-btn row" style="justify-content: center">
        <button mat-flat-button class="btn-reservation" routerLink="/reservations" >Réservations</button>
    </div>
  </div>
</div>

<div class="row carte-wine ">
  <div class="carte col-md-6 col-sm-12">
    <a href="/carte">
      <div class="overlay"><h2>La carte</h2></div>
      <div class="mobile-only">
        <h2>La carte</h2>
      </div>
    </a>


  </div>
  <div class="vins col-md-6 col-sm-12">
    <a href="/vins">
      <div class="overlay"><h2>Les vins</h2></div>
    </a>
  </div>
</div>

<div class="event" >
  <div style="width: 80%">
    <div class="top">
      <h2>Soirées</h2>
    </div>
    <div class="bottom">
      <h2>Spéciales</h2>
    </div>
  </div>

</div>
<!--<a href="/soirees">-->

<!--<div class="row event" >-->
<!--    <div style="z-index: 50" class="event-container first col-12">-->
<!--      <div class="col-2 "></div>-->
<!--      <div class="soiree col-6"><h2>Soirées</h2></div>-->
<!--      <div class="col-4"></div>-->
<!--    </div>-->
<!--    <div style="z-index: 50" class="event-container second col-12">-->
<!--      <div class="col-4"></div>-->
<!--      <div class="col-6"><h2>Spéciales</h2></div>-->
<!--      <div class="col-2"></div>-->
<!--    </div>-->
<!--</div>-->

<!--</a>-->

<div class="row chef">
  <div class="picture col-md-12 col-lg-4"></div>
  <div class="histoire col-lg-8 col-md-12">
    <p>
    <b>"</b>Passionné de cuisine depuis l'enfance et après avoir travaillé dans différents restaurants, Nicolas OROSCO-MORA souhaitait devenir le chef de son propre restaurant.
    Aidé par sa famille, il ouvre son restaurant en 2006 dans la maison où il habite à Mérignac, dans son appart.
    <br>
    Entièrement décoré par sa maman, notamment avec de nombreux tableaux, le restaurant est appelé l'appArt'.
    Le chef Nicolas développe alors une cuisine moderne inventive basée sur le travail de produits frais de qualité et de saison en jouant sur les textures, la déstructuration des produits ou des alliances parfois surprenantes.
    <br>
    Il partage également sa passion le week-end dans sa propre cuisine en organisant des cours de cuisine ouverts à tous.
    Rapidement le restaurant devient trop petit, Nicolas n'habite plus dans son restaurant. En 2011, l'appArt' s'agrandit encore, une nouvelle salle est ouverte avec une grande cave à vin et un jardin/terrasse intimiste est créé.
    Le chef Nicolas est toujours aussi passionné, il change sa carte tous les mois pour vous offrir le goût authentique des produits frais. <span><b>"</b></span>
      <br> <i>L'équipe de l'appArt' vous invite à venir découvrir ou redécouvrir cette cuisine authentique au fil des saisons !</i>
    </p>
  </div>
</div>
<div class="reservation row">
  <a href="/reservation">
    <div class="overlay"><h2>Réservation</h2></div>
  </a>
</div>

<div class="gallery row">
  <a href="/galerie">
    <div class="overlay"><h2>Galerie</h2></div>
  </a>
</div>
<div class="carte col-md-6 col-sm-12">
