
// $serif: 'IBM Plex Serif', serif;
$serif: 'Merriweather', sans-serif ;

.row {
  margin: 0;
}
.home {
  h1 {
    font-family:'Didact Gothic', sans-serif;
    color: #FFFFFF;
    font-size: 10em;
    margin-bottom: 300px;


  }
  .picture-container {
    background-image: url("http://api.bundles.do/staticImages/home.jpg");
    background-position: center ;
    background-attachment: initial;
    background-size: cover;
    background-repeat: no-repeat ;
    width: 100%;
    height: calc(100vh - 64px) ;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
   .container-btn {
       .btn-reservation {
         display: flex;
         justify-content: center;
         align-items: center;
         height:100px;
         width: 370px;
         font-size: 2em;
         background: #9E0C17;
         color: white;
         border-radius: 0;
         box-shadow: 2px 6px 8px 2px rgba(0, 0, 0, 0.4);
       }
    }
  }
  @media only screen and (max-width: 450px) {
    .picture-container {
      background-size: cover;
      height: 100vh;
      h1 {
        font-size: 5em;
        margin-bottom: 150px;
      }
    }
  }
}
.carte-wine {

  .carte {
    background-image: url("http://api.bundles.do/staticImages/plat1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: initial;
    height: 800px;
    min-height: 336px;
    padding: 0;
  }

  .vins {
    background-image: url("http://api.bundles.do/staticImages/cave1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: initial;
    height: 800px;
    min-height: 336px;
    padding: 0;
  }

  a {
    text-decoration: none;
    .overlay {
      height: 100%;
      width: 100%;
      background: rgba(158, 12, 23, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      //transition-delay: 0.5s;
      font-size: 6em;
      font-style: italic;
      font-family: $serif ;
      color: rgba(255, 255, 255, 0);
      transition: color 0.5s, background-color 0.5s;
      text-decoration: none;
      &:hover {
        background: rgba(158, 12, 23, 0.7);
        color: rgba(255, 255, 255, 1);
      }

      h2 {
        font-size: inherit;
        font-style: inherit;
        font-family: inherit ;
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .carte {
      height: 338px;
    }
    .vins {
      height: 338px;
    }
    h2 {
      width: 100%;
      text-align: center;
      background-color: rgba(158, 12, 23, 0.4) !important;
      color: white !important;
    }
  }
}

.event {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 50px 100px 50px 100px;
  height: max-content;
  background-color: black;
  position: relative;
  overflow: hidden;
  &:hover {
   h2 {
     text-decoration: underline;
   } 
  }
  .pattern-right-container {
  height: inherit;
  width: 100%;
  right: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-y: hidden;
  transform: translate(20px);
  .pattern-right {
    z-index: 1;
    height: 700px;
    width: 626px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url("http://api.bundles.do/uploads/test/appart_contour_fleurs.svg");
    transform: rotate(141deg);
  }
  
}
.pattern-left-container {
  height: inherit;
  width: 100%;
  right: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: hidden;
  transform: translate(0, -35px);
  .pattern-left {
    z-index: 1;
    height: 1104px;
    width: 696px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url("http://api.bundles.do/uploads/test/appart_contour_fleurs.svg");
    transform: rotate(320deg);
  }
  
}



  h2 {
    position: relative;

    z-index: 2;
    color: #FFFFFF;
    font-family: $serif;
    font-style: italic;
    font-size: 10rem;
    font-weight: bold;
  }
  .top {
    position: relative;

    z-index: 2;
    text-align: left;
    padding-left: 100px;
  }
  .bottom {
    position: relative;

    z-index: 2;
    text-align: right;
    padding-right: 100px;
  }


}
@media screen and (max-width: 1000px) {
  .event{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 200px;
    h2 {
    color: white;
    font-family: $serif;
    font-size: 3rem;
    font-weight: bold;
  }
    .top {
      text-align: center;
      padding-left: 0px;

    }

    .bottom {
      text-align: center;
      padding-right: 0px;

    }
  }

}

//.event {
//  background-color: black;
//  justify-content: center;
//
//  .first{
//    padding-top: 50px;
//  }
//  .second {
//    padding-bottom: 50px;
//  }
//  .event-container {
//
//
//    display: flex;
//    justify-content: center;
//
//    h2 {
//      color: #FFFFFF;
//      font-family: $serif;
//      font-style: italic;
//      font-size: 10rem;
//      font-weight: bold;
//    }
//  }
//
//  @media only screen and (max-width: 1000px) {
//    .first{
//    }
//    .second {
//    }
//    .event-container {
//
//
//      display: flex;
//      justify-content: center;
//      align-items: center;
//
//      h2 {
//        color: #FFFFFF;
//        font-family: $serif;
//        font-size: 3rem;
//        font-weight: bold;
//      }
//    }
//  }
//}

.chef {
  .picture {
    background-image: url("http://api.bundles.do/staticImages/devanture.jpg");
    background-position: center;
    background-size: cover;
  }
  .histoire {
    background: white;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: black;
    p {
      font-size: 1.5em;

      b {
        font-weight: initial ;
        font-size: 3em;
        }
      span {
        b {

        }
      }
      i {
        font-size: 1.7em;
        font-weight: bold;

      }
    }

  }
  @media only screen and (max-width: 1000px) {
    .picture {
      background-image: url("http://api.bundles.do/staticImages/devanture.jpg");
      background-position: center;
      background-size: cover;
      height: 300px;
    }
    .histoire {
      padding: 50px;
      p {
        font-size: 1.1em;

        b {
          font-weight: initial ;
          font-size: 2em;
        }
        span {
          b {

          }
        }
        i {
          font-size: 1.3em;
          font-weight: bold;

        }
      }

    }
  }
}


.reservation {
  background-image: url("http://api.bundles.do/staticImages/reservation.jpg");
  background-position: center;
  height: 200px;
  background-size: cover;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    .overlay {
      height: 100%;
      width: 100%;
      background: rgba(158, 12, 23, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      //transition-delay: 0.5s;
      font-size: 6em;
      font-style: italic;
      font-family: $serif ;
      color: rgba(255, 255, 255, 1);
      transition: color 0.5s, background-color 0.5s;
      text-decoration: none;
      &:hover {
        background: rgba(158, 12, 23, 0.7);
      }

      h2 {
        font-size: 50px;
        font-style: inherit;
        font-family: inherit ;
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    @media only screen and (max-width: 1000px) {
      .reservation {
        height: 150px;
      }
      h2 {
        font-size: 10em;
        width: 100%;
        text-align: center;
        background-color: rgba(158, 12, 23, 0.4) !important;
        color: white !important;
      }
    }

  }
}



.gallery {
  background-image: url("http://api.bundles.do/uploads/test/nouvelle_salle_2.jpg");
  background-position: center;
  height: 800px;
  background-size: cover;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    .overlay {
      height: 100%;
      width: 100%;
      background: rgba(158, 12, 23, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      //transition-delay: 0.5s;
      font-size: 6em;
      font-style: italic;
      font-family: $serif ;
      color: rgba(255, 255, 255, 0);
      transition: color 0.5s, background-color 0.5s;
      text-decoration: none;
      &:hover {
        background: rgba(158, 12, 23, 0.7);
        color: rgba(255, 255, 255, 1);
      }

      h2 {
        font-size: inherit;
        font-style: inherit;
        font-family: inherit ;
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    @media only screen and (max-width: 1000px) {
      .gallery {
        height: 338px;
      }
      h2 {
        font-size: 10em;
        width: 100%;
        text-align: center;
        background-color: rgba(158, 12, 23, 0.4) !important;
        color: white !important;
      }
    }

  }
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 640px) {
  .carte-wine {
    a {
      .mobile-only {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6em;
        font-style: italic;
        font-family: $serif;
        color: #9E0C17;
        transition: color 0.5s, background-color 0.5s;
        text-decoration: none;

        h2 {
          font-size: inherit;
          font-style: inherit;
          font-family: inherit;
          color: inherit;
          text-decoration: inherit;
        }
      }
    }
  }
}
