$serif: 'Merriweather', sans-serif ;

h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: $serif;
  color: #9E0C17;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 100px;
}
img {
  width: 500px;
}

@media screen and (max-width: 640px) {
  img {
    width: 100%;
  }
}
