
<div class="main-container">
  <div class="header">
    <h2 class="title"></h2>
    <div class="buttons-container">
      <button></button>
      <button></button>
      <button></button>
      <mat-checkbox></mat-checkbox>
    </div>
  </div>
  <div class="text-container">
    <p class="description">

    </p>
  </div>
</div>







<div>{{food.foodName}}
  <button mat-flat-button
          (click)="showFoodAllergens()"
  > allergènes</button>
  <button mat-flat-button
          (click)="editFood(food)"
  > modification</button>
  <button mat-flat-button
          (click)="deleteFood()"
  > suppr</button>
  <div>
    <form [formGroup]="patchForm">
      <mat-checkbox (change)="patchFood(food.id)"
                    formControlName="check"
      >Afficher</mat-checkbox>
    </form>
  </div>
</div>
<div>{{food.foodDescription}}</div>
<div *ngIf="showAllergens">
  <div *ngFor=" let allergen of food.allergen ">{{allergen.allergenName}}</div>
</div>
