
$serif: 'Merriweather', sans-serif ;
.container-type {
 margin-bottom: 50px;
 h3 {
   font-size: 3em;
   text-decoration: underline;
 }
}
.marg-me {
  margin-bottom: 35px;
}
.pattern {
  background-color: rgb(80, 11, 17);
  background-image: url("http://api-appart.leo-gatille.com/uploads/test/appart_contour_fleurs.svg");
  background-position: right top -15px;
  background-repeat: no-repeat;
  opacity: 0.7;
}
div {
  color: white
}
.great-title {
  font-family: $serif;
  font-size: 4em;
  font-weight: bolder;
  font-style: italic;
}
.row {
  padding: 0;
  margin: 0;
 // background: black;
}
.header {
  .counter-container {
   // margin-top: 50px;
    .counter {
      background: #9E0C17;
      font-weight: bold;
      color: #FFFFFF;
      padding: 20px;
      width: max-content;
      margin-bottom: 50px;
    }
  }
}

.date {
  font-style: italic;
  font-size: 2em;
}
.title{
  font-family: $serif;
  font-size: 5em;
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 3em;
  }
  .pattern {
    background-color: rgb(80, 11, 17);
  }
}

