
$serif: 'Merriweather', sans-serif ;
div {
  color: white
}
.great-title {
  font-family: $serif;
  font-size: 4em;
  font-weight: bolder;
  font-style: italic;
}
.row {
  padding: 0;
  margin: 0;
  background: black;
}
.header {
  padding-bottom: 50px;
  .counter-container {
   // margin-top: 50px;
    .counter {
      background: #9E0C17;
      font-weight: bold;
      color: #FFFFFF;
      padding: 20px;
      width: max-content;
    }
  }
}

.date {
  font-style: italic;
  font-size: 2em;
}
.title{
  font-family: $serif;
  font-size: 5em;
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 3em;
  }
}

//.main-container {
//
//  .date-container {
//    display: flex;
//    justify-content: flex-end;
//    align-items: center;
//    .date {
//      font-family: $serif;
//      font-style: italic;
//      font-size: 4em;
//      color: #FFFFFF;
//    }
//  }
//  .soiree-contianer {
//    display: flex;
//    //justify-content: flex-end;
//    //justify-content: flex-end;
//    align-items: center;
//    .soiree {
//      text-align: right;
//      color: #FFFFFF;
//      font-size: 6em;
//      font-weight: bolder;
//      font-family: $serif;
//      font-style: italic;
//    }
//  }
//  .text-container {
//    display: flex;
//    justify-content: flex-start;
//    align-items: center;
//    .text {
//      color: #FFFFFF;
//    }
//  }
//  .food-container {
//    display: flex;
//    justify-content: flex-start;
//    align-items: center;
//    color: #FFFFFF;
//  }
//  .btn-container {
//    .reservation {
//      background: #9E0C17;
//      color: #FFFFFF;
//      font-weight: bold;
//      border-radius: 0;
//    }
//  }
//}
//
